:root {
  --primary: #26327e;
  --secondary: #bfe51f;
  --blackColor: #252233;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-rubik: 'Rubik Mono One', sans-serif;
  --red-1: #f60909;
  --border: 1px solid var(--primary);
  --border-radius: 4px;
}